---
name: Build ruby

run-name: "Build ruby: ${{ toJSON(inputs) }}"

on:
  workflow_dispatch:
    inputs:
      versions:
        description: 'Ruby versions'
        required: true
        type: string
        default: '3.4.1 3.3.6 3.2.6 3.1.6'
      os:
        description: 'Runs on windows-*'
        required: true
        type: string
        default: '2022'
      arch:
        description: 'Architecture (x64 or x86)'
        required: true
        type: string
        default: 'x64'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - windows-os: ${{ inputs.os }}
            windows-arch: ${{ inputs.arch }}

    runs-on: windows-${{ matrix.windows-os }}

    defaults:
      run:
        shell: pwsh

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache/restore@v4
        with:
          path: |
            ~\AppData\Local\vcpkg\archives
            ~\AppData\Local\vcpkg\downloads
          key: ${{ matrix.windows-os }}|${{ matrix.windows-arch }}|vcpkg|run${{ github.run_number }}|${{ github.run_attempt }}
          restore-keys: |
            ${{ matrix.windows-os }}|${{ matrix.windows-arch }}|vcpkg|run${{ github.run_number }}|
            ${{ matrix.windows-os }}|${{ matrix.windows-arch }}|vcpkg|

      - run: '& .\build-ruby.cmd'
        env:
          RUBY_VERSIONS: ${{ inputs.versions }}
          ARCH: ${{ matrix.windows-arch }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ruby-log
          path: 'ruby-*\**\*.log'

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ruby-bin-${{ matrix.windows-arch }}
          path: 'ruby-*.7z'

      - uses: actions/cache/save@v4
        if: always()
        with:
          path: |
            ~\AppData\Local\vcpkg\archives
            ~\AppData\Local\vcpkg\downloads
          key: ${{ matrix.windows-os }}|${{ matrix.windows-arch }}|vcpkg|run${{ github.run_number }}|${{ github.run_attempt }}
